body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.h1-color {
    color: turquoise;
}

h1 {
    font-size: 40px;
}

section {
    display: flex;
    margin-bottom: 10px;


}

.determine {
    width: 29%;
    margin-left: 10%;
    padding-left: 10px;

}

.determine img {
    width: 80%;
}

.headline {
    border-left: 4px solid yellowgreen;
    padding-left: 10px;
    border-radius: 2px 2px 2px 2px;
}

.explore-buton {
    text-decoration: none;
    padding: 10px;
    color: rgb(226, 34, 12);
    background-image: linear-gradient(rgb(0, 162, 255), rgb(221, 255, 71));
    border-radius: 2px;

}

#heading-color {
    color: royalblue;
}

#text-align {
    text-align: center;
}

.mission-background {
    background-color: thistle;
    width: 33%;
}

.vission-background {
    background-color: slategray;
    width: 33%
}

.goal-background {
    background-color: tan;
    width: 33%
}

.mission {
    display: flex;

}